API_LAYER_TOKEN=t1o2k3e4n5
SENTIMENT_API_URL=https://api.apilayer.com/sentiment/analysis
DATABASE_URL=sqlite+aiosqlite:///./sqlite.db
HF_TOKEN=hf_t1o2k3e4n5
NGROK_TOKEN=t1o2k3e4n5
NGROK_URL=https://d5a8677ad6a2.ngrok-free.app